- if session[:banner]
  .banner-image
    = image_tag("sixt.png")


%section.scan
  %header
    = link_to image_tag("Go-Back.png"),"/"
    .title
      %span
        - if @card_scan.present?
          IDENTITY VERIFIED
        - else
          IDENTITY NOT VERIFIED
    = link_to image_tag("information.png"),"#"

- if @card_scan.present?
  .container
    .starter-template
      .row
        .col-xs-12.col-sm-12.col-lg-12
      .row
        .col-xs-12.col-sm-12{:style =>"text-align:center;"}
          .container-camera
            #image-thumbnail.fileupload-preview.fileupload-exists.thumbnail{:style=>"line-height: 10px;position:relative;margin:0 auto;max-height:none;text-align:center;"}
              .view-container{:style => "float: none;margin: 0 auto !important;padding: 1%;width: 96%;"}
                .span3{:style =>"text-align:center;margin-bottom:5px;"}
                  %b
                    VERIFIED DETAILS
                  %hr{:style => "margin-top:5px;"}
                .snd-container
                  .v-status
                    .span2.first
                      Identity
                    .span2.last{:style =>"text-transform:uppercase;"}
                      Verified with #{@card_scan.idcard_type}
                    .clear
                    .span2.first
                      First Name:
                    .span2.last
                      = @card_scan.first_name
                    .clear

                    .span2.first
                      Last Name:
                    .span2.last
                      = @card_scan.last_name
                    .clear

                    .span2.first
                      Date Of Birth:
                    .span2.last
                      = @card_scan.date_of_birth.strftime("%d/%m/%Y") if @card_scan.date_of_birth.present?
                    .clear

                    .span2.first
                      Country:
                    .span2.last
                      = @card_scan.country
                    .clear
                .clear
              .clear
            .clear
            %br
      .row
        %h4
          %button#btn.btn-lg.btn-primary.btn-custom-sb{:style => "", :type => "button" ,:onclick => "javascript:window.location ='/photos/camera'"}
            Face Match
      .row
        .col-xs-12
          #loading
    #errorDiv{:style => "text-align: center; color: red;"}
- else
  %h4
    Failed to verify the Identity. Try again by
    = link_to "Click Here", card_scans_path, :"data-no-turbolink" => ""
