.sign-up-form
  %section.scan
    %header
      = link_to image_tag("Go-Back.png"), verify_mobile_numbers_path
      .title
        %span
          %h3
            Verify Mobile
      = link_to image_tag("information.png"),"#"
  %hr    
  = render 'layouts/messages'
  = simple_form_for(User.new, :url => {:controller => "mobile_numbers", :action => :submit_verify }) do |f|
    = f.error_notification
    .form-inputs
      .control-text
        %h5
          All you have to do is enter the code from the SMS we have sent you      
        = f.input :mobile_verification_code, label: false,:placeholder => "Enter the six digit code", :size => "6", :type => "text",:required => true,input_html: {:class =>"digits"},:maxlength => "6"

    .text-center
      %br
      %br
      %button.btn.btn-lightgreen.btn-submit{:name => "button", :type => "submit"} Verify Mobile
      / .form-actions
      /   = f.button :submit, "Sign up"
      %br

    .text-center{:style => "padding:8px;"}
      %h5
        If you didn't receive the verification code within 10 min to your mobile number, click on
        = link_to "Resend Verification", resend_code_mobile_numbers_path,:style =>"Color:#78b435;background:transparent;text-decoration:underline"