
= render 'layouts/messages'

.container.voice-scan
  %h4
    VOICE BIOMETRIC REGISTRATION
  .voice-container
    %span
      Press the button and say.....   
    %div.block
      - [0,1,2,3].each do |digit|
        %span.digit
          = digit_to_str(@next_prompt[digit]) if @next_prompt
        %span.number
          = @next_prompt[digit] if @next_prompt
        .clear

    %div.CamPicker{:style => "width: 0; height: 0; overflow: hidden;"}
      %input#CamPicker{:accept => "audio/*;capture=microphone" , :type => "file", :name => "voice_file"}
      %input{:type => "hidden", :name => "next_prompt", :value => @next_prompt }
      %input{:type => "hidden", :name => "dialogue_id", :value => current_user.dialogue_id }
      %input{:type => "hidden", :name => "authenticity_token",:id => "authenticity_token",:value => form_authenticity_token}
    
    = image_tag("Speak.png", :id => "CamButton", :class => "img-responsive")
    %br
    %br
    = image_tag("processing.gif",:class =>"voice-loader");
    %br
    %br
    

