.container.voice-scan
  %h4
    - if @ds_hash["dialogue_status"].eql?("Succeeded")
      Your Voice biometric SignIn has been completed successfully.
      %br
      = link_to "Home", "#{root_url}" , :"data-no-turbolink" =>""
    - else
      Your Voice biometric SignIn has been failed. To try Sign In again,
      = link_to "Click Here", "#{root_url}voices/signin_voice?claimant_id=#{@voice_details.claimant_id}" , :"data-no-turbolink" =>""