%p#notice= notice

%p
  %b User:
  = @photo.user_id
%p
  %b Image:
  = @photo.image
%p
  %b Image tmp:
  = @photo.image_tmp
%p
  %b Verified:
  = @photo.verified

= link_to 'Edit', edit_photo_path(@photo)
\|
= link_to 'Back', photos_path
