%section.scan
  %header
    = link_to image_tag("Go-Back.png"), camera_photos_path
    .title
      %span
        - if @match_details["status"] && @match_details["match_score"] > 25
          VERIFIED FACE
        - else
          FAILED TO VERIFY FACE
    = link_to image_tag("information.png"),"#"

.container
  .starter-template
    .row
      .col-xs-12.col-sm-12.col-lg-12
    .row
      .col-xs-12.col-sm-12{:style =>"text-align:center;"}
        .container-camera
          #image-thumbnail.fileupload-preview.fileupload-exists.thumbnail{:style=>"line-height: 10px;position:relative;margin:0 auto;max-height:none;"}
            = image_tag(@camera_photo,:style => "")  
    %br/
    .row
      #div-controls.col-xs-12.col-sm-12.col-lg-12
        - if @match_details["status"] && @match_details["match_score"] > 25
          %h4{:style => "color:#fff;"}
            MATCH SCORE: #{@match_details["match_score"]}%
          %br
          %h4
            %button#btn.btn-lg.btn-primary.btn-custom-sb{:style => "", :type => "button" ,:onclick => "javascript:window.location ='/voices/register'"}
              Voice Verification
        - else
          = link_to "Click Here", "/photos/camera", :"data-no-turbolink" => ""
          to Capture Photo and try Face Match again. If not
          = link_to "Click Here", "/voices/register", :"data-no-turbolink" => ""
          to verify your Voice.

    .row
      .col-xs-12
        #loading
  #errorDiv{:style => "text-align: center; color: red;"}