<!DOCTYPE html>
<html>
  <head>
    <title>My Verified ID</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application','//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="wht-bg">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
       <a class="navbar-brand" href="/" style="color: #0773BA;">
        <%= image_tag("logo.png", width: "200px", style: "vertical-align:middle;") %>
       </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!-- <li class="active"><a data-no-turbolink  href="/">Identity Verification</a></li>
          <li><a href="/photos/verify" data-no-turbolink >Face Verification</a></li>
          <li><a href="/voices/register" data-no-turbolink >Voice Biometric Verification</a></li>
          <li><a href="/mobile_numbers/register" data-no-turbolink >Mobile Verification</a></li> -->
          <% if current_user.present? %>
            <li><%= link_to "Dashboard", dashboard_index_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, :method=>'delete' %></li>
          <% else %>
            <li> <%= link_to "Voice Sigin" , signin_voices_path %></li>
            <li> <%= link_to "Email Sigin" , new_user_session_path %></li>
            <li> <%= link_to "Create Profile" , new_user_registration_path %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <%= yield %>


    <script src="/assets/card_scan/MiscJS/bootstrap.js"></script>

    
    <footer>  
      <div class="container-lp">
        <div class="footer-tagline"><span>Already a My Verified id member</span><span><a href="#"><%= image_tag("Sign-In.png")%></a></span>
        </div>
      </div>  
    </footer>

  </body>
</html>

